body{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: hsl(0, 0%, 95%);
}
#calculator{
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: fit-content;
    height: fit-content;
    overflow: hidden;
}
#display{
    width: 385px;
    padding: 15px;
    margin: 10px;
    font-size: 3rem;
    text-align: left;
    border: solid 1px grey;
    border-radius: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    gap: 5px;
    padding: 10px;
    margin-left: 2.3px;
}
button{
    width: 96.25px;
    height: 96.25px;
    border-radius: 12px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
    padding: 0;
}
button:hover{
    background-color: hsl(0, 0%, 40%);
}
button:active{
    background-color: hsl(0, 0%, 50%);
    color: #D0F0C0;
}
.operator-btn{
    background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
    background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
    background-color: hsl(35, 100%, 75%);
    color: white;
}
.c-btn{
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 99%;
    color: #ED2939;
}
.c-btn:active{
    background-color: #905D5D;
    color: #ED2939;
}

@media screen and (max-width: 600px) {
body{
    margin-top: 50px;
}
#calculator{
    max-width: 300px;
    height: fit-content;
    overflow: hidden
}
#display{
    width: 248px;
    padding: 15px;
    margin: 10px;
    margin-top: 12px;
    padding-right: 14px;
    font-size: 2rem;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 68px);
    grid-template-rows: repeat(5, 68px);
    gap: 4px;
    padding: 5px;
    margin-bottom: 4px;
}
button{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 1.5rem;
}
.c-btn{
    grid-row-start:1 ;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
    color: #ED2939;
}
}